<template>
    <div id="control">
        <div v-if="loading">
            <p class="searching">Kzin bezig wi</p>
        </div>
        <ul id="results" v-else>
            <li class="result" v-for="(result, i) of results" :key="i" @click="play(i, result.id.videoId, result.snippet.title)" :class="{ active: i === active }">
                <img class="thumbnail" :src="result.snippet.thumbnails.default.url">
                <div class="details">
                    {{ result.snippet.title }}
                </div>
            </li>
        </ul>
        <div id="search">
            <input type="text" placeholder="Search.." v-model="searchQuery">
            <a href="#" @click="getVideos">Search</a>
        </div>
        <div id="player-control">
            <button class="control-button control-button__pause" id="pause" @click="pauseVideo">►</button>
            <button class="control-button control-button__skip" id="skip" @click="nextVideo">►►</button>
            <input type="range" id="start" name="volume"
                   v-model="volume" @change="setVolume(volume)" min="0" max="100" />
            <p class="video-title">{{ videoTitle }} - {{ progress }} / {{ duration }}</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
const youtubeKey = "AIzaSyCpbcaHYHg4ugVxjb_oN3J9CXT7jEuL5oA"

export default {
    name: 'Control',
    data() {
        return {
            results: [],
            searchQuery: '',
            volume: '',
            loading: false,
            active: -1,
            videoTitle: 'No video playing',
            duration: '0:00',
            progress: '0:00'
        }
    },
    created() {
        this.$socket.emit('i am a view')
        this.$socket.emit('requestInfo')
        this.$socket.on('videoInfo', (videoTitle, duration) => {
            this.videoTitle = videoTitle
            let minutes = Math.floor(duration/60)
            let seconds = Math.floor(duration % 60)
            this.duration = minutes + ":"
            if (seconds < 10) {
                this.duration += '0'
            }
            this.duration += seconds

        })
        this.$socket.on('videoProgress', progress => {
            this.videoProgress(progress)
        })
    },
    methods: {
        async getVideos() {
            this.active = -1
            this.loading = true
            const response = await axios.get(`https://www.googleapis.com/youtube/v3/search?part=snippet&q=${this.searchQuery}&key=${youtubeKey}&maxResults=20`)
            this.results = response.data.items
            this.loading = false
        },
        play(index, videoId, videoTitle) {
            if(this.active === index) {
                return
            }
            this.$socket.emit('play', videoId, videoTitle)
            this.active = index
        },
        setVolume(volume) {
            this.$socket.emit('setVolume', volume)
        },
        pauseVideo() {
            this.$socket.emit('pauseVideo')
        },
        nextVideo() {
            this.$socket.emit('nextVideo')
        },
        videoProgress(progress) {
            console.log(progress)
            let minutes = Math.floor(progress/60)
            let seconds = Math.floor(progress % 60)
            this.progress = minutes + ":"
            if (seconds < 10) {
                this.progress += '0'
            }
            this.progress += seconds
        }
    }
}
</script>

<style lang="scss">
    #control {
        user-select: none;
        .searching {
            padding: 1rem;
            font-size: 1.4rem;
            text-align: center;
            color: rgb(49, 49, 49);
        }

        .result {
            width: 85%;
            margin: 1rem auto;
            padding: 1rem;
            display: block;
            background-color: rgb(238, 238, 238);
            transition: .2s;

            .thumbnail {
                display: inline-block;
                width: 35%;
            }

            .details {
                display: inline-block;
                width: calc(65% - 2rem);
                vertical-align: top;
                padding: 1rem;
            }

            &.active {
                background-color: rgb(52, 165, 90);
                color: white;
            }
        }

        #search {
            width: 90%;
            display: flex;
            transform: translateX(-50%);
            left: 50%;
            position: fixed;
            bottom: 2rem;

            input {
                width: 100%;
                margin: 0;
                outline: none;
                font-size: 1.2rem;
                display: inline-block;
                padding: .5rem;
            }

            a {
                text-align: center;
                vertical-align: middle;
                line-height: 1.5rem;
                text-decoration: none;
                color: white;
                font-family: 'Arial', sans-serif;
                padding: .5rem 1.5rem;
                display: inline-block;
                background-color: cornflowerblue;
            }
        }
        #player-control {
            width: 90%;
            display: block;
            min-height: 3rem;
            transform: translateX(-50%);
            left: 50%;
            position: fixed;
            bottom: 5rem;
            background-color: rgb(52, 165, 90);
            border-radius: 25px;
            input[type=range] {
                -webkit-appearance: none;
                margin: 20px 0 0 20px;
            }
            input[type=range]:focus {
                outline: none;
            }
            input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height: 8.4px;
                cursor: pointer;
                animate: 0.2s;
                background: #68e26e;
                border-radius: 1.3px;
                border: 0.2px solid #010101;
            }
            input[type=range]::-webkit-slider-thumb {
                height: 36px;
                width: 16px;
                border-radius: 3px;
                background: #ffffff;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -14px;
            }
            .control-button {
                background-color: #68e26e;
                outline: none;
                color: white;
                position: relative;
                border: none;
                height: 80%;
                width: 50px;
                top: 2px;
                &__pause {
                    font-size: 1.2rem;
                    margin-left: 40px;
                }
                &__skip {
                    margin-left: 20px;
                    font-size: 1.2rem;
                }
            }
            .video-title {
                display: inline-block;
                color: white;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-left: 38px;
            }
        }
    }

</style>
