<template>
    <div id="view">
        <youtube v-if="video" class="video" :video-id="video" :player-vars="playerVars" ref="youtube" v-on:ended="playNext" @playing="playing"></youtube>
        <!--<iframe v-if="video"  :src="video" frameborder="0" allow="autoplay; fullscreen" id="youtubevideo"></iframe>-->
        <div class="wait" v-else>E secondje..</div>
    </div>
</template>

<script>
import axios from 'axios'
const youtubeKey = "AIzaSyCpbcaHYHg4ugVxjb_oN3J9CXT7jEuL5oA"

export default {
    name: 'ViewCenter',
    data() {
        return {
            video: null,
            playerVars: {
                autoplay: 1
            }

        }
    },
    created() {
        this.$socket.emit('i am a view')
        this.$socket.on('play', (videoId, videoTitle) => {
            this.play(videoId, videoTitle)
        })
        this.$socket.on('setVolume', volume => {
            this.setVolume(volume)
        })
        this.$socket.on('pauseVideo', () => {
            this.pauseVideo()
        })
        this.$socket.on('nextVideo', () => {
            this.playNext()
        })
        this.$socket.on('requestInfo', () => {
            this.sendInfo()
        })
    },
    computed: {
        player () {
            return this.$refs.youtube.player
        }
    },
    methods: {
        play(videoId, videoTitle) {
            this.videoTitle = videoTitle
            this.video = videoId
        },
        playing() {
            clearInterval(this.progressBroadcaster)
            console.log("Video playing")
            this.player.getDuration().then((duration) => {
                this.$socket.emit('videoInfo', this.videoTitle, duration)
            })
            this.progressBroadcaster = setInterval(() => {
                this.player.getCurrentTime().then((progress) => {
                    this.$socket.emit('videoProgress', progress)
                })
            }, 1000)
        },
        setVolume(volume) {
            this.player.setVolume(volume)
        },
        pauseVideo() {
            this.player.getPlayerState().then((result) => {
                if(result === 1){
                    this.player.pauseVideo()
                }
                else {
                    this.player.playVideo()
                }
            });
        },
        playNext(){
            axios.get(`https://www.googleapis.com/youtube/v3/search?part=snippet&relatedToVideoId=${this.video}&type=video&key=${youtubeKey}&maxResults=20`).then((result) => {
                this.video = result.data.items[0].id.videoId
                this.videoTitle = result.data.items[0].snippet.title
            })
        },
        sendInfo(){
            this.player.getDuration().then((duration) => {
                this.$socket.emit('videoInfo', this.videoTitle, duration)
            })
        },
    }
}
</script>

<style lang="scss">
    #view {
        width: 100%;
        height: 100%;

        .video {
            width: 100%;
            height: 100%;
        }

        .wait {
            font-size: 3rem;
            text-align: center;
            margin: 4rem;
        }
    }
</style>
